<mat-toolbar-row class="header mat-elevation-z8">
    <span>
        <a>
            <img class="logo" src="assets/img/tree.jpg" alt="logo">
        </a>
    </span>
    <span class="title-group">
        <a class="purple">
            <i class="material-icons ">
                add_shopping_cart
            </i>
            <strong>
                <i>Tree Products </i>
            </strong>
        </a>
    </span>
    <span class="example-spacer"></span>
    <span mat-icon-button class="favorite-icon purple" aria-label="Example icon-button with heart icon">
        <i class="material-icons">
            person
        </i>
    </span>
</mat-toolbar-row>