<mat-toolbar-row class="header mat-elevation-z8">
    <span>
        <a>
            <img class="logo" src="assets/img/logo.png" alt="logo">
        </a>
    </span>
    <span class="title-group">
        <a>
            <i class="material-icons">
                dashboard
            </i>
            Produtos
        </a>
    </span>
    <span class="example-spacer"></span>
    <span mat-icon-button class="favorite-icon" aria-label="Example icon-button with heart icon">
        <i class="material-icons">
            favorite
        </i>
        
    </span>
</mat-toolbar-row>