.card{
    width: 25%;
}
.card-title{
    width: 100%;
    margin-left: 25%;
    font-family: cursive;
}

form {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

input{
    /* background: #292F33; */
    width: 80%;
    /* height: 30px; */
    /* padding: 0 0.2rem;
    margin-top: 0.1rem; */
    /* outline: none; */
    color: rgba(166, 166, 166);
    /* font-size: 1rem; */
    /* font-family: cursive;
    border: 1px solid #0EC9A0;
    border-radius: 8px; */
}

button {
    margin: 20px 15px 0px 0px;
}

.buttons :first-child {
    background-color: #0EC9A0;
}

