
<mat-sidenav-container>
    <mat-sidenav class="sidenav" fixedInViewport="true" #sidenav role="navigation" fixedTopGap="64">
        <mat-nav-list class="nav-list">
            <a class="nav-caption" mat-list-item routerLink="/" appAqua>
                <i class="material-icons"> home </i>
                <span class="nav-caption">Inicio</span> 
            </a>
            <a mat-list-item routerLink="/products" appAqua>
                <i class="material-icons"> storefront </i>
                 <span class="nav-caption">Produtos</span>   
            </a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <app-header (sidenavToggle)="sidenav.toggle()"></app-header>
        <app-footer></app-footer>
        <div class="content">
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>