/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background-color: #FAFAFA; }

.sidenav {
    background-color: #292F33;
    width: 200px;
    height: 100%;
    position: fixed;
}

.mat-drawer-backdrop.mat-drawer-shown {
    position: fixed
}

.nav-caption{
    display: inline-block;
    padding-left: 6px;
}

.product-content {
    margin: 1em 2em;
}